<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>anime-sixyonn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B1F1601F1FA4CA66002B167A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1F160331FA4CA66002B167A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1F1603E1FA4CA66002B167A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
